## Procesamiento de un corpus, de forma secuencial o paralela

Se van a procesar las frase el  corpus Brown de texto  que  es proporcionado por el módulo nltk.corpus

<strong>Módulos que se van a importar</strong>

In [1]:
import pandas as pd
import multiprocessing as mp
import numpy as np
import time
#modulo para usar expresiones regulares
import re
from multiprocessing import Pool
#importación del corpus brown
from nltk.corpus import brown

In [5]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\U029987\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.

True

In [16]:
def construye_textos():
    return [" ".join(np.random.permutation(sents)) for sents in brown.sents()]
# Funcion que crea un dataframe a partir de una lista de textos
def construye_datafame_texto():
    lista = construye_textos()
    df = pd.DataFrame(lista, columns= ['Textos'] )
    return df
df = construye_datafame_texto()

In [17]:
df.head()

                                              Textos
0  irregularities no primary Fulton . Atlanta's e...
1  that City Committee election `` presentments C...
2  hard-fought won Superior charged reports Court...
3  `` handful size the this in such and , conside...
4  are . often that it The Georgia's many `` ambi...

In [30]:
#funcion que reemplaza comillas dobles
def reemplazar_comillas(df):
    # Como se que mi columna se llama textos, la puedo hardcodear, pero también podría 
    # pasarse como parámetro
    df['Textos'] = df['Textos'].apply(lambda text: text.replace("``",'"'))
    return df
prueba = reemplazar_comillas(df)
prueba.head()

                                              Textos
0  irregularities no primary Fulton . Atlanta's e...
1  that City Committee election " presentments Ci...
2  hard-fought won Superior charged reports Court...
3  " handful size the this in such and , consider...
4  are . often that it The Georgia's many " ambig...

<strong>Funciones que se van a definir</strong><br/>
Se definen las funciones que se van a utilizar. Obsérvese que se pasa como parámetro la columna text del DataFrame y por tanto, las funciones que se quieren aplicar deben ejecutarse con apply para que se apliquen  a cada fila.<br/>
    Observa la funcion reemplazar_comillas e implementa las demás usanddo  las funciones que se indican en el comentario

In [46]:
def construye_textos():
    """ 
        Funcion que construye el DataFrame para su procesamiento, on una frase por fila
    Returns:
        Lista de con textos de corpus brown
    """
    return [" ".join(np.random.permutation(sents)) for sents in brown.sents()]

def construye_datafame_texto(nombre_columna):
    """ 
        Funcion que crea un dataframe a partir de una lista de textos y 
        pone como nombre de la columna el pasado por argumentos. Tendrá dos columnas
        pues por una se iterará y por otra no
    """
    lista = construye_textos()
    df = pd.DataFrame(zip(lista, lista),
                      columns= [nombre_columna, nombre_columna+str('_sin_editar')] )
    return df


def reemplazar_comillas(df, nombre_columna):
    """ Funcion que reemplaza comillas dobles en un dataframe. Pasamos el nombre de la columna
        como parámetro
    """
    df[nombre_columna] = df[nombre_columna].apply(lambda text: text.replace("``",'"'))
    return df

def a_minusculas(df, nombre_columna):
    """ Funcion que convierte todas las palabras a minúsculas en un dataframe.
        Pasamos el nombre de la columna como parámetro
    """
    df[nombre_columna] = df[nombre_columna].apply(lambda text: text.lower())
    return df

#funcion que cuenta palabras de cada fila del dataframae
#separa las palabras en el texto de cada fila con split y devuelve la longitud de la lista de palabras
#la función que devuelve la lista de palabras es re.split(r"(?:\s+)|(?:,)|(?:\-)",text)
def contar_palabras(df, nombre_columna):
    df['conteo'] = df[nombre_columna].apply(lambda text: len(re.split(r"(?:\s+)|(?:,)|(?:\-)",text)))
    return df
    ###INSERTA TU CODIGO###

In [47]:
df = construye_datafame_texto('Textos')
df_sin_comillas = reemplazar_comillas(df, 'Textos')
df_prueba = a_minusculas(df_sin_comillas, 'Textos')
df_prueba.head()
ole = contar_palabras(df,'Textos')

In [54]:

df  = ole.copy()
df

,Textos,Textos_sin_editar,conteo
0,said the took '' no produced election jury evi...,said The took '' no produced election Jury evi...,25
1,"praise which was in , further of said the of t...","praise which was in , further of said the of t...",47
2,"the irregularities "" september-october jr. by ...",The irregularities `` September-October Jr. by...,38
3,", of handful , and only size in this interest ...",", of handful , and Only size in this interest ...",40
4,georgia's find of often laws did it '' inadequ...,Georgia's find of often laws did it '' inadequ...,24
...,...,...,...
57335,j. perelman s.,J. Perelman S.,3
57336,desert revulsion in the,desert revulsion in the,4
57337,burst into the i slid dropped doors song the o...,burst into the I slid dropped doors song the o...,40
57338,"phrase was a , strain in lineage no that fault...","phrase was a , strain in lineage no that fault...",63
57339,dress was glance the a inside able . coral-col...,dress was glance the a inside able . coral-col...,27

In [52]:
def construye_textos():
    """ 
        Funcion que construye el DataFrame para su procesamiento, on una frase por fila
    Returns:
        Lista de con textos de corpus brown
    """
    return [" ".join(np.random.permutation(sents)) for sents in brown.sents()]

def construye_datafame_texto(nombre_columna):
    """ 
        Funcion que crea un dataframe a partir de una lista de textos y 
        pone como nombre de la columna el pasado por argumentos
    """
    lista = construye_textos()
    df = pd.DataFrame(lista, columns= [nombre_columna] )
    return df


def reemplazar_comillas(df, nombre_columna):
    """ Funcion que reemplaza comillas dobles en un dataframe. Pasamos el nombre de la columna
        como parámetro
    """
    df[nombre_columna] = df[nombre_columna].apply(lambda text: text.replace("``",'"'))
    return df

def a_minusculas(df, nombre_columna):
    """ Funcion que convierte todas las palabras a minúsculas en un dataframe.
        Pasamos el nombre de la columna como parámetro
    """
    df[nombre_columna] = df[nombre_columna].apply(lambda text: text.lower())
    return df

def contar_palabras(df, nombre_columna):
    """ funcion que cuenta palabras de cada fila del dataframae
    Args:
        df: Dataframe
        nombre_columna: Nombre de la columna de la que queremos contar palabras

    Returns:
        dataframe con una columna 'num_palabras' y el numero de palabras
    """
    df['num_palabras'] = df[nombre_columna].apply(lambda text: len(re.split(r"(?:\s+)|(?:,)|(?:\-)",text)))
    return df
    ###INSERTA TU CODIGO###

<strong>Función que se va a aplicar</strong><br/>
Esta función invocará a las definidas y devolverá el dataframe modificado

In [ ]:
def procesar_df(df, nombre_columna):
  """ Función que se aplicará

  Args:
      df (_type_): _description_
      nombre_columna (_type_): _description_

  Returns:
      _type_: _description_
  """
  #se hace copia del dataframe para no modificarlo
  ###INSERTA TU CODIGO###
  salida_df = 

  # reemplaza las comillas
  salida_df['text']      = reemplazar_comillas(salida_df['text'])

  # pasa el texto a minusculas
  ###INSERTA TU CODIGO###
  salida_df['text']      =


  # cuenta el número de palabras y construye columna nueva con nombre num_palabras
  ###INSERTA TU CODIGO###
     

  # elimina los textos demasiado largos
  texto_largo_para_eliminar = salida_df[salida_df['num_palabras'] > 50]
  salida_df.drop(texto_largo_para_eliminar.index, inplace=True)

  # elimina los textos demasiado cortos
  texto_corto_para_eliminar = salida_df[salida_df['num_palabras'] < 10]
  salida_df.drop(texto_corto_para_eliminar.index, inplace=True)    

  #reinicializa los indices
  salida_df.reset_index(drop=True, inplace=True)

  return salida_df

<strong>Programa principal</strong><br/>
Se crea el dataframe a partir del corpus y se invoca a la función sobre todo el dataframe según modo secuencial.<br/>
En paralelo, se divide en trozos el dataframe para que sea procesado por distintos hilos

In [ ]:
if __name__=="__main__":
    
    dataframe_brown = pd.DataFrame({
    'text': construye_textos() + construye_textos() + construye_textos() + construye_textos()
    })
    print(dataframe_brown)
    # se  toma tiempo inicial
    ###INSERTA TU CODIGO###
    ###########################################################################
    
    """ejecución secuencial"""
    #se llama a la funcion procesar_df() con dataframe_brown
    ###INSERTA TU CODIGO###
    ###########################################################################
    
    print(df_procesado)
    
    # se muestra tiempo total
    ###INSERTA TU CODIGO###
    ###########################################################################
    
    #muestra fila 0
    print(df_procesado.loc()[0])
    
    #retorna el numero de núcleos en el sistema, te puede servir para decidir el número de procesos
    print(mp.cpu_count())
    
    """ejecución paralela"""
    #divide en trozos el dataframe, decide el numero de trozos y haz comparaciones de rendimientos
    trozos_df = np.array_split(dataframe_brown,12)
    
    # se  toma tiempo inicial
    ###INSERTA TU CODIGO###
    ###########################################################################
    
    #se crea el pool de procesos, decide cuantos procesos crear
    ###INSERTA TU CODIGO###
    ###########################################################################
    
    #se invoca a la función y se concatenan los resultados de cada trozo con pd.concat(resultados del map)
    ###INSERTA TU CODIGO###
    ###########################################################################
    # se muestra tiempo total
    ###INSERTA TU CODIGO###
    ###########################################################################   
    
    # se muestra la fila 0
    print(df_procesado)
    print(df_procesado.loc()[0])