# Propuesta de ejercicio Dataframes y POO

Crear un DataFrame con la notas de un estudiante correspondientes a dos parciales de dos asignaturas. Puede construirlo a partir de listas o diccionarios. Las columnas deben tener los nombres de las asignaturas y las filas los nombres de los parciales. El resultado debe ser algo similar a esto.
<img src="Tabla.png" />

https://www.codigopiton.com/como-crear-un-dataframe-con-pandas-y-python/#como-crear-un-dataframe-a-partir-de-una-lista-de-diccionarios

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
datos = [{'carrera':'primero','velocidad': 10, 'aguante': 66}, 
         {'carrera':'segundo','velocidad': 12, 'aguante': 5 },
         {'carrera':'tercero','velocidad': 11, 'votantes': 104} ]
df2=pd.DataFrame(datos)
df_ordenado_votantes = df.sort_values(by = 'aguante', ascending= False)
df_ordenado_votantes = df_ordenado_votantes.reset_index()
datos={'matematicas':[2.0, 7.5],'lengua':[6.0, 6.5]}

df1=pd.DataFrame(datos,index=["P1","P2"])

df1

    matematicas  lengua
P1          2.0     6.0
P2          7.5     6.5

In [2]:
datos=[{'matematicas':2.0,'lengua':6.0},{'matematicas':7.5,'lengua':6.5}]
df2=pd.DataFrame(datos,index=["P1","P2"])

df2

    matematicas  lengua
P1          2.0     6.0
P2          7.5     6.5

In [3]:
matematicas=[2.0,7.5]
lengua=[6.0,6.5]
df3=pd.DataFrame(index=["P1","P2"])
df3['matematicas']=matematicas
df3['lengua']=lengua
df3

    matematicas  lengua
P1          2.0     6.0
P2          7.5     6.5

**Implementar la funci√≥n que calcule la nota media de cada asignatura y la incorpore al DataFrame como una fila**

In [4]:
def media_asignaturas(dataframe):
    num_col=dataframe.shape[1]
    return dataframe.iloc[:, 0:num_col].mean()

In [5]:
lista=media_asignaturas(df1)

In [6]:
lista

matematicas    4.75
lengua         6.25
dtype: float64

In [7]:
df1.loc['media asignatura']=lista
df1

                  matematicas  lengua
P1                       2.00    6.00
P2                       7.50    6.50
media asignatura         4.75    6.25

In [8]:
def media_asignaturas2(dataframe):
    medias=[]
    for i in dataframe.columns:
        medias.append(dataframe[i].mean())
    dataframe.loc["medias asignaturas"]=medias
    
media_asignaturas2(df2)
df2

                    matematicas  lengua
P1                         2.00    6.00
P2                         7.50    6.50
medias asignaturas         4.75    6.25

**Implementar una funci√≥n sobre el dataframe que calcule las media de las notas de los primeros y segundos parciales e incopore la columna al Dataframe**

In [9]:
def media_parciales(dataframe):
    dataframe["media parciales"]=[np.mean([dataframe.loc[i]["matematicas"],dataframe.loc[i]["lengua"]]) for i in dataframe.index]

In [10]:
media_parciales(df2)
df2

                    matematicas  lengua  media parciales
P1                         2.00    6.00              4.0
P2                         7.50    6.50              7.0
medias asignaturas         4.75    6.25              5.5

## Clases y objetos

**Construir una clase estudiante que cuente con los atributos nombre, edad y el dataframe del ejercicio anterior con las notas.
En el constructor se debe inicializar los atributos nombre y edad de estudiante y crear el dataframe de notas construyendolo internamente en la clase**

In [11]:
class Estudiante:
    def __init__(self,nombre,edad,lista_asignaturas,listas_notas):
        self.nombre=nombre
        self.edad=edad
        self.dataframe=self.construirDataframe(lista_asignaturas,listas_notas)
        
    
    def construirDataframe(self, lista_asignaturas,listas_notas):
        df=pd.DataFrame(index=["P1","P2"])
        for i in range(0,len(lista_asignaturas)-1):
            df[lista_asignaturas[i]]=listas_notas[i]       
        return df

**Implementar los metodos necesarios para obtener las notas por asignatura y las notas por parcial**

In [12]:
class Estudiante:
    def __init__(self,nombre,edad,lista_asignaturas,listas_notas):
        self.nombre=nombre
        self.edad=edad
        self.dataframe=self.construirDataframe(lista_asignaturas,listas_notas)
        
    
    def construirDataframe(self, lista_asignaturas,listas_notas):
        df=pd.DataFrame(index=["P1","P2"])
        for i in range(0,len(lista_asignaturas)-1):
            df[lista_asignaturas[i]]=listas_notas[i]       
        return df
    
    def obtenerNotasAsig(self,asig):
        return self.dataframe[asig]
    
    def obtenerNotasParcial(self,asig):
        return self.dataframe.loc[asig]

**Transformar las funciones de c√°lculo de medias anteriores en m√©todo de las class**

In [13]:
class Estudiante:
    def __init__(self,nombre,edad,lista_asignaturas,listas_notas):
        self.nombre=nombre
        self.edad=edad
        self.dataframe=self.construirDataframe(lista_asignaturas,listas_notas)
        
    
    def construirDataframe(self, lista_asignaturas,listas_notas):
        df=pd.DataFrame(index=["P1","P2"])
        for i in range(0,len(lista_asignaturas)-1):
            df[lista_asignaturas[i]]=listas_notas[i]       
        return df
    
    def obtenerNotasAsig(self,asig):
        return self.dataframe[asig]
    
    def obtenerNotasParcial(self,asig):
        return self.dataframe.loc[asig]
    
    def calcularNotasMediasParcial(self):
        self.dataframe["medias parcial"]=[np.mean([self.dataframe.loc[i]["matematicas"],self.dataframe.loc[i]["lengua"]]) for i in self.dataframe.index]
        
    def calculaMediaAsignaturas(self):
        num_col=self.dataframe.shape[1]
        return self.dataframe.iloc[:, 0:num_col].mean()

**Implementar un m√©todo para mostrar los datos del alumno**

In [14]:
class Estudiante:
    def __init__(self,nombre,edad,lista_asignaturas,listas_notas):
        self.nombre=nombre
        self.edad=edad
        self.dataframe=self.construirDataframe(lista_asignaturas,listas_notas)
        
    
    def construirDataframe(self, lista_asignaturas,listas_notas):
        df=pd.DataFrame(index=["P1","P2"])
        for i in range(0,len(lista_asignaturas)):
            df[lista_asignaturas[i]]=listas_notas[i]       
        return df
    
    def obtenerNotasAsig(self,asig):
        return self.dataframe[asig]
    
    def obtenerNotasParcial(self,asig):
        return self.dataframe.loc[asig]
    
    def calcularNotasMediasParcial(self):
        self.dataframe["medias parcial"]=[np.mean([self.dataframe.loc[i]["matematicas"],self.dataframe.loc[i]["lengua"]]) for i in self.dataframe.index]
        
    def calculaMediaAsignaturas(self):
        num_col=self.dataframe.shape[1]
        return self.dataframe.iloc[:, 0:num_col].mean()
    
    def __str__(self):
        return "El alumno se llama :"+self.nombre+"\nTiene la edad de: "+str(self.edad)+" a√±os\nSus notas son \n"+str(self.dataframe)

In [15]:
matematicas=[2,7.5]
lengua=[6,6.5]
estudiante=Estudiante("pedro",23, ["matematicas","lengua"],[matematicas,lengua])

In [16]:
print(estudiante)

El alumno se llama :pedro
Tiene la edad de: 23 a√±os
Sus notas son
    matematicas  lengua
P1          2.0     6.0
P2          7.5     6.5

In [17]:
estudiante.obtenerNotasAsig("matematicas")

P1    2.0
P2    7.5
Name: matematicas, dtype: float64

In [ ]:
estudiante.obtenerNotasParcial("P1")

In [ ]:
estudiante.calcularNotasMediasParcial()
print(estudiante)

In [ ]:
estudiante.calculaMediaAsignaturas()
print(estudiante)