In [8]:
# Podemos usar string y ascii_lowercase. Tambien lo haremos con
# a)
import string 
abecedario_ascii = list(string.ascii_lowercase)
abecedario = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k',
            'l', 'm', 'n', 'o', 'p' , 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# b)
###
# c)
consonantes = [ 'b', 'c', 'd', 'f', 'g', 'h', 'j', 'k',
            'l', 'm', 'n', 'p' , 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
vocales = list(filter(lambda x: x not in consonantes, abecedario))
vocales = list(filter(lambda x: x =='a' or x=='e' or x=='i' or x=='o' or x=='u', abecedario))
vocales

['a', 'e', 'i', 'o', 'u']

In [30]:
import string as str
dicesp_morse  = {   'A':'.-', 'B':'-...', 'C':'-.-.',
                    'D':'-..', 'E':'.','F':'..-.',
                    'G':'--.', 'H':'....', 'I':'..',
                    'J':'.---', 'K':'-.-', 'L':'.-..',
                    'M':'--', 'N':'-.', 'O':'---',
                    'P':'.--.', 'Q':'--.-','R':'.-.',
                    'S':'...','T':'-','U':'..-',
                    'V':'...-','W':'.--','X':'-..-',
                    'Y':'-.--','Z':'--..','1':'.----',
                    '2':'..---','3':'...--','4':'....-',
                    '5':'.....', '6':'-....', '7':'--...',
                    '8':'---..', '9':'----.','0':'-----',
                    '.':'.-.-.-', ',':'--..--', ':':'---...',
                    ';':'-.-.-.', '?':'..--..', '!':'-.-.--',
                    '"':'.-..-.', "'" :'.----.','+':'.-.-.',
                    '-':'-....-', '/':'-..-.','=':'-...-', 
                    '_':'..--.-', '$':'...-..-', '@':'.--.-.',
                    '&':'.-...', '(':'-.--.', ')':'-.--.-'}
# Tal y como se ha hecho el codigo necesitamos la palabra en mayuscula
def traducir_a_morse(palabra, diccionario_morse):
    # Se podria llevar la palabra a mayusculas, pero no recuerdo el comando. Recuerdo que era similar a toUpper (al menos en pyspark)
    # Recibe una palabra asi que la recorremos
    lista_letras = []
    lista_codigo = []
    for i in range(len(palabraa)):
        lista_letras.append(palabra[i])

    for letra in lista_letras:
        lista_codigo.append(diccionario_morse[letra])

    palabra_morse = ''
    for letra in lista_codigo:
        palabra_morse+=letra
    return palabra_morse, lista_codigo
codigo, lista_codigo = traducir_a_morse('HOLA', dicesp_morse)
print(codigo)
print(lista_codigo)

....---.-...-
['....', '---', '.-..', '.-']

In [66]:
def inversor_dict(dict):
    # Saco los valores y las claves
    lista_valor = [par[0] for par in dict.items()]
    lista_clave = [par[1] for par in dict.items()]
    # Creo el nuevo diccionario recorriendo las listas anteriores, pero en vez de clave-valor; valor-clave
    diccionario_nuevo ={elem[0]:elem[1] for elem in zip(lista_clave,lista_valor)}
    return diccionario_nuevo

print(inversor_dict(dicesp_morse))

{'.-': 'A', '-...': 'B', '-.-.': 'C', '-..': 'D', '.': 'E', '..-.': 'F', '--.': 'G', '....': 'H', '..': 'I', '.---': 'J', '-.-': 'K', '.-..': 'L', '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P', '--.-': 'Q', '.-.': 'R', '...': 'S', '-': 'T', '..-': 'U', '...-': 'V', '.--': 'W', '-..-': 'X', '-.--': 'Y', '--..': 'Z', '.----': '1', '..---': '2', '...--': '3', '....-': '4', '.....': '5', '-....': '6', '--...': '7', '---..': '8', '----.': '9', '-----': '0', '.-.-.-': '.', '--..--': ',', '---...': ':', '-.-.-.': ';', '..--..': '?', '-.-.--': '!', '.-..-.': '"', '.----.': "'", '.-.-.': '+', '-....-': '-', '-..-.': '/', '-...-': '=', '..--.-': '_', '...-..-': '$', '.--.-.': '@', '.-...': '&', '-.--.': '(', '-.--.-': ')'}

In [ ]:
# Creo una lista con valores y otra con claves 
letras_valores_morse=[par[0] for par in dicesp_morse.items()]
codigos_valores_morse = [par[1] for par in dicesp_morse.items()]

diccionario_nuevo ={elem[0]:elem[1] for elem in zip(codigos_valores_morse,letras_valores_morse)}
print(diccionario_nuevo)

In [68]:
import pandas as pd
datos = {'Invierno':[2.0, 7.5, 0.3],
        'Verano':[30, 31, 32.5], 
        'Primavera':[15, 16, 17],
        'Oton':[8, 6.5, 12 ]}

df_estaciones = pd.DataFrame(datos,index=["P1","P2", "P3"])
df_estaciones

    Invierno  Verano  Primavera  Oton
P1       2.0    30.0         15   8.0
P2       7.5    31.0         16   6.5
P3       0.3    32.5         17  12.0

In [82]:
def maximo_y_minimo(df):
    lista_maximos = []
    lista_minimos = []
    for col in df.columns:
        lista_maximos.append(df[col].max())
        lista_minimos.append(df[col].min())
    df.loc['maximo_en_la_estacion'] = lista_maximos
    df.loc['minimo_en_la_estacion'] = lista_minimos
    return df

def maximo_y_minimo_planta(df):
    df['maximo_en_planta'] = df.max(axis=1)
    df['minim_en_planta'] = df.max(axis=1)
    return df 
    
df_nuevo =  maximo_y_minimo_planta(maximo_y_minimo(df_estaciones))
df_nuevo

,Invierno,Verano,Primavera,Oton,ole,maximo_en_planta,minim_en_planta
P1,2.0,30.0,15.0,8.0,30.0,30.0,30.0
P2,7.5,31.0,16.0,6.5,31.0,31.0,31.0
P3,0.3,32.5,17.0,12.0,32.5,32.5,32.5
maximo_en_la_estacion,7.5,32.5,17.0,12.0,32.5,32.5,32.5
minimo_en_la_estacion,0.3,30.0,15.0,6.5,30.0,30.0,30.0

In [81]:
def maximo_y_minimo_planta(df):
    df['maximo_en_planta'] = df.max(axis=1)
    df['minim_en_planta'] = df.max(axis=1)
    return df
# Aplicando las dos funciones

                       Invierno  Verano  Primavera  Oton   ole
P1                          2.0    30.0       15.0   8.0  30.0
P2                          7.5    31.0       16.0   6.5  31.0
P3                          0.3    32.5       17.0  12.0  32.5
maximo_en_la_estacion       7.5    32.5       17.0  12.0  32.5
minimo_en_la_estacion       0.3    30.0       15.0   6.5  30.0

In [146]:
import string 
import operator

In [148]:
class TemperaturaEdificio:
    def __init__(self,nombre,localizacion,lista_estaciones,lista_temperaturas):
        self.nombre = nombre
        self.localizacion = localizacion
        self.dataframe = self.construirDataframe(lista_estaciones,lista_temperaturas)
        
    def construirDataframe(self, lista_estaciones,lista_temperaturas):
        # lista_temperaturas ha de ser una lista de listas
        df=pd.DataFrame(index=["P1","P2", "P3"])
        for i in range(0,len(lista_estaciones)):
            df[lista_estaciones[i]] = lista_temperaturas[i]       
        return df
    
    def obtener_temperatur_estacion(self,estacion):
        return self.dataframe[estacion]
    
    def obtener_temperatur_planta(self,planta):
        return self.dataframe.loc[planta]
    
    def maximo_y_minimo_estaciones(self):
            lista_maximos = []
            lista_minimos = []
            for col in self.dataframe.columns:
                lista_maximos.append(self.dataframe[col].max())
                lista_minimos.append(self.dataframe[col].min())
            self.dataframe.loc['maximo_en_la_estacion'] = lista_maximos
            self.dataframe.loc['minimo_en_la_estacion'] = lista_minimos
            return self.dataframe

    def maximo_y_minimo_planta(self):
        self.dataframe['maximo_en_planta'] = self.dataframe.max(axis=1)
        self.dataframe['minim_en_planta'] = self.dataframe.max(axis=1)
        return self.dataframe

    def __str__(self):
        # Primero hago que el dataframe tenga los maximos y los minimos asi que los ejecuto de esta forma para que el dataframe se soberescriba
        # Podriamos hacerlo con copias para no perder el original, pero tampoco se nos pide en un principio.
        self.dataframe['maximo_en_planta'] = self.dataframe.max(axis=1)
        self.dataframe['minim_en_planta'] = self.dataframe.max(axis=1)
        return "El edificio es :"+self.nombre+"\n Y esta localizado en "+ self.localizacion +" \nSus temperaturas por estacion son \n"+str(self.dataframe)

estaciones = ['Invierno', 'Verano', 'Primavera', 'Oton']
lista_temperaturas = [
                        [2.0, 7.5, 0.3], #temp invierno
                        [30, 31, 32.5], # temp verano
                        [15, 16, 17], # temp primavera
                        [8, 6.5, 12 ] # temp otn
                    ]
temp_edificio=TemperaturaEdificio("FranciscoRicci",'Madrid', estaciones, lista_temperaturas)
print(temp_edificio)

TypeError: 'module' object is not callable

In [149]:
string('e')

TypeError: 'module' object is not callable