<p style="text-align:left"><img src="logo.png"></p>
Computación científica con Python<br>
Mª Luisa  Díez Platas


# <font color='blue'>Manipulación y visualización de datos  con pandas y matplotlib</span>

Se va a usar los DataFrames de pandas y la biblioteca matplotlib para las visualizaciones.<br>
El objetivo es :<br>
    1. Creación de DataFrames a  partir de E/S de datos desde archivos. <br>
    2. Transformacion y preparación de datos.<br>
    3. Visualizaciones de los datos.

Entrada / Salida
-------------------

Se cuenta con un archivo Excel con las calificaciones de unos alumnos

<img src="estudiantes.png" width="500">

A partir de estos datos vamos a hacer algunos cambios y visualizaciones.
Si se observa la tabla, los números  aparecen con una coma como separador decimal. Esto se debe a que en  Excel esta configurado este formato numérico. Veremos que esto luego se va a tener que  cambiar.

### Creación del DataFrame

Se importa pandas y se usa la función para la lectura del archivo. Se indica el separador.

In [1]:
import pandas as pd
tabla_estudiantes=pd.read_csv('Estudiantes.csv',';')
tabla_estudiantes

   Id_Estudiante Nombre_Estudiante  Curso Nota_Ex1 Nota_Ex2 Nota_Total
0            ID1   Pedro Rodríguez      1      4,6      3,5       4,16
1            ID2      Luis Sánchez      1      7,3        8       7,58
2            ID3      María Santos      2      8,6        9       8,76
3            ID4    Dolores Martos      2       10      8,5        9,4
4            ID5        Ana Olmedo      1        5      6,3       5,52
5            ID6       Maria Salas      1        5      8,5        6,4
6            ID7     Carmen Castro      1      4,6      6,3       5,28
7            ID8         Luis Díez      1        5        8        6,2
8            ID9   Rosa Cienfuegos      2        5        9        6,6
9           ID10       Paula López      2        7      3,5        5,6
10          ID11         Juan Sanz      1      8,3        3       6,18
11          ID12         Leo Plaza      2      6,5        4        5,5
12          ID13     David  Solana      1        3        5        3,8
13          ID14   Beatriz Tiemblo      2        4      6,6       5,04
14          ID15        Lope Solán      1      6,5      7,7       6,98

Se obtiene un DataFrame: una tabla con índice entero en las filas y  en las columnas cadenas de caracteres que tomamn como valores los nombres de las columnas del archivo importado.

<font color="blue">Conversión de los datos a formato json</font>

In [ ]:
tabla_estudiantes.to_json()

Se puede guardar en un archivo.

In [ ]:
tabla_estudiantes.to_json("Estudiantes.json")

Si se lee el archivo se obtiene nuevamente la tabla.

In [ ]:
tabla_estudiantes_de_json=pd.read_json("Estudiantes.json")
tabla_estudiantes_de_json

<font color="blue">Análisis de los tipos de datos</font>

Se obtiene el tipo de los datos. Vamos a trabajar con el DataFrame inicial **tabla_estudiantes**.

In [ ]:
tabla_estudiantes.dtypes

In [ ]:
tabla_estudiantes.loc[0,['Nota_Ex1','Nota_Ex2','Nota_Total']]

Transformacion y preparación de datos para  obtención de datos estadísticos
-----------

¿El curso debería ser numérico?. Si se obtienen los datos estadísticos se obtiene lo siguiente:

In [ ]:
tabla_estudiantes.describe()

- <p><font color="red">¿Tiene sentido que se calculen estos datos para la columna Curso?</font>. </p>
- <p><font color="red">¿No se calculan los estadísticos para las notas?</font></p><br>

<font color="blue">Cambio de  tipo de los datos para prepararlo para  la obtención  de datos  estadísticos.</font>

Se cambia Curso a no numérico.

In [ ]:
tabla_estudiantes['Curso']=tabla_estudiantes['Curso'].astype(str)

In [ ]:
tabla_estudiantes.dtypes

Se vuelven a calcular los datos estadísticos.

In [ ]:
tabla_estudiantes.describe()

count- número de datos de cada columna<br>
unique - número de valores distintos en la columna<br>
top - valor que más se repite en la columna (en las columnas Id_Estudiante, Nombre_Estudiante y Nota_Total)<br>
freq - frecuencia del valor que más se repite (en las columnas Id_Estudiante, Nombre_Estudiante y Nota_Total)

<font  color="blue">Cambio del tipo de columnas string a tipo numérico</font>

In [ ]:
tabla_estudiantes[['Nota_Ex1', 'Nota_Ex2',
       'Nota_Total']]=tabla_estudiantes[['Nota_Ex1', 'Nota_Ex2',
       'Nota_Total']].replace(to_replace=',', value='.', regex=True)
tabla_estudiantes

In [ ]:
tabla_estudiantes[['Nota_Ex1', 'Nota_Ex2',
       'Nota_Total']]=tabla_estudiantes[['Nota_Ex1', 'Nota_Ex2',
       'Nota_Total']].apply(pd.to_numeric)

tabla_estudiantes.dtypes

Se vuelven a calcular los datos estadísticos.

In [ ]:
tabla_estudiantes.describe()

<font color="blue">Agrupación de datos</font>

Se van a agrupar los datos por curso y se calculan las estadísticas agrupadas.

In [ ]:
datos_agrupados=tabla_estudiantes.groupby('Curso')
datos_agrupados.describe()

Se pueden extraer por separado.

In [ ]:
datos_agrupados['Nota_Ex1'].describe()

In [ ]:
datos_agrupados['Nota_Ex2'].describe()

In [ ]:
datos_agrupados['Nota_Total'].describe()

Se pueden calcular valores por separado.

In [ ]:
datos_agrupados.mean()

# Visualización de datos

Se va a visualizar un histograma de número de alumnos en cada curso.

In [ ]:
import matplotlib.pyplot as plt
n, bins, patches = plt.hist(tabla_estudiantes['Curso'], bins=3)

plt.xlabel('Curso')
plt.ylabel('Numero de alumnos curso')
plt.title('Histograma - Frecuencia absoluta. Alumnos en  curso')

Se va a visualizar un histograma de los datos de Nota_Total.

In [ ]:
plt.figure(figsize=(10, 8))
n, bins, patches = plt.hist(tabla_estudiantes['Nota_Total'], bins=10)
intervalos=[]

plt.xlabel('Notas')
plt.ylabel('Frecuencia Nota')
plt.title('Histograma -  Notas Totales')

Histograma Nota_Total con un valor mayor en bins.

In [ ]:
n, bins, patches = plt.hist(tabla_estudiantes['Nota_Total'], bins=20)
plt.xlabel('Notas')
plt.ylabel('Frecuencia de notas')
plt.title('Histograma - Notas totales')

Histograma Nota_Total con escala de intervalos en X.

In [ ]:
plt.figure(figsize=(10, 8))
i=0
intervalos=[]
while (i<=10):
    intervalos.append(i)
    i+=0.5

n, bins, patches = plt.hist(tabla_estudiantes['Nota_Total'], 20, 
                            facecolor='red', label='Nota total')

plt.xticks(intervalos)


plt.title('Histograma Notas Totales')
plt.xlabel('Nota')
plt.ylabel('Frecuencia de notas')
plt.show()

Uso  de seaborn, biblioteca de visualización  de datos estadísticos, basada en matplotlib. Se muestra nuevamente el histograma de Nota_Total.

In [ ]:
import seaborn as sns

plt.figure(figsize=(10, 8))
sns.histplot(tabla_estudiantes['Nota_Total'], bins=20)
plt.xlabel('Notas')
plt.ylabel('Frecuencia de notas')
plt.title('Histograma - Notas totales')

<font color="blue">Visualización de datos agrupados por curso</font>

Se  visualizan los datos agrupados por cursos  con un diagrama de barras. Las barras representan, para cada curso, las notas obtenidas por cada estudiante.

In [ ]:
%matplotlib inline
datos_agrupados.plot(kind="bar",title="Notas de los estudiantes en cada curso",)

Visualización de los datos agrupados apilados

In [ ]:
%matplotlib inline


plo=datos_agrupados.plot(kind="bar",stacked=True,title="Notas de los estudiantes en cada curso")